@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --navHeight: 7rem;
  --toggleSize: 2.8rem;

  font-size: 62.5%;
}

body {
  font-family: "Source Sans Pro", Arial, sans-serif;
}
